---
title: "The {{ .PackageName }} application"
description: "Example of application"
---

Application package **{{ .PackageName }}** for Deckhouse.

## Description

This package deploys an application. Multiple instances can be installed in the cluster; resources are namespaced by instance name.
